.portfolio_container {
    margin: 20px auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%
}

.portfolio_item {
    background: var(--color-bg);
    padding: 1rem;
    width: 25rem;
    border-radius: 2rem;
    border: 2px solid;
    transition: transform .2s;
}

.portfolio_item_container {
    display: grid;
    gap: 10%;
    grid-template-columns: 60% 20%;
}

.portfolio_item:hover {
    transform: scale(1.1);
}

.portfolio_item_image {
    border-radius: 0.8rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 0.2rem 0 0.8rem;
    font-size: 2rem;
    margin-left: 4rem;
}

.portfolio_item h5 {
    margin: 0.4rem 0 0.8rem;
}

.portfolio_item_cta {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Media Queries (medium devices) */
@media screen  and (max-width: 1024px) {
    portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }
}

/* Media Queries (small devices) */
@media screen  and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}